.form-wrapper {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 14px;
    padding-top: 10px;

    .form-title {
        text-align: center;
    }

    .field-container {
        position: relative;
        height: 55px;
        line-height: 55px;
        border-bottom: 1px solid #f0f0f0;
        display: flex;
        justify-content: space-between;

        &.active {
            .field {
                .field-label {
                    font-size: 12px;
                    height: 20x;
                    line-height: 20px;

                    span {
                        font-size: 14px !important;
                        font-family: 'Times New Roman', Times, serif;
                    }

                    &::after {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }

        &.input {
            .field {
                .field-label {
                    &::after {
                        display: inline-block;
                    }
                }
            }
        }

        &.disabled {

            .field {
                .field-box {
                    cursor: not-allowed;
                    color: #444;
                }

                .field-label {
                    color: #444;
                }
            }
        }

        &.error {
            .field {
                .field-label {
                    color: red;

                    &::after {
                        background: red;
                    }
                }
            }
        }

        .field {
            margin-left: 20px;
            margin-right: 20px;
            height: 100%;
            flex: auto;
            display: flex;

            .field-box {
                flex: auto;
                font-size: 16px;
                color: rgb(8, 8, 10);
                background: white;
                text-align: right;
                height: 100%;
                border: 0;
            }

            .unit-label {
                color: #007cb2;
                margin: 0 0 0 10px;

                span {
                    font-size: 14px !important;
                    font-family: 'Times New Roman', Times, serif;
                }
            }

            .field-label {
                color: darkslateblue;
                position: absolute;
                margin-bottom: 0;
                transition: all .2s ease;

                &::after {
                    content: "\A";
                    margin-left: 5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: darkslateblue;
                    display: none;
                    transition: all .2s ease;
                }

                span {
                    font-size: 16px !important;
                    font-family: 'Times New Roman', Times, serif;
                }
            }
        }
    }
}