.component-header {
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;

    .header-container {
        max-width: 1024px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;

        .header-title {
            font-size: 30px;
            color: black;
            float: center;
            padding-top: 20px;
            margin-bottom: 0;

        }
    }

    .subheader-container {
        max-width: 1024px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;

        .subheader-title {
            font-size: 20px;
            color: black;
            float: center;
            padding-top: 20px;
            margin-bottom: 0;

        }
    }
}